{% extends "base.html" %}

{% block content %}
<div class="max-w-2xl mx-auto bg-white p-8 rounded-lg shadow-lg">
  <h1 class="text-3xl font-bold text-center mb-6">Formulario de Contacto</h1>
  <p class="mb-3">En este formulario te podras poner en contacto conmigo ( PardoDeveloper ).</p>
  <form method="post" class="space-y-4">
    {% csrf_token %}
    <div>
      <label for="id_nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
      {{ form.nombre }}
    </div>
    <div>
      <label for="id_apellido" class="block text-sm font-medium text-gray-700">Apellido</label>
      {{ form.apellido }}
    </div>
    <div>
      <label for="id_correo" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
      {{ form.correo }}
    </div>
    <div>
      <label for="id_telefono" class="block text-sm font-medium text-gray-700">Número de teléfono</label>
      {{ form.telefono }}
    </div>
    <div>
      <label for="id_mensaje" class="block text-sm font-medium text-gray-700">Mensaje</label>
      {{ form.mensaje }}
    </div>
    <button type="submit" class="w-full bg-gradient-to-r from-blue-500 to-blue-700 text-white py-2 px-4 rounded-lg hover:from-blue-600 hover:to-blue-800 transition-all duration-300">
      Enviar
    </button>
  </form>
</div>
{% endblock %}